.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --heading-h1-color: #ffffff;
  --heading-h2-color: #afafaf;
  font-family: var(--font-barlow);
  text-align: center;
}

.page h1 {
  font-family: var(--font-barlow);
  font-size: 48px;
  text-transform: uppercase;
  color: var(--heading-h1-color);
}

.page h2 {
  font-family: var(--font-barlow), sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: var(--heading-h2-color);
}

.page .cta {
  display: block;
  margin: 5rem auto 0;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  padding-bottom: 5px;
  position: relative;
  width: max-content;
}

.page .cta::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: orange;
  bottom: 0;
  left: 0;
  transform: scaleX(1);
  transform-origin: left;
}

@media (min-width: 768px) and (hover: hover) and (pointer: fine) {
  .page .cta::after {
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  .page .cta:hover::after {
    transform: scaleX(1);
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    --heading-h1-color: #f0f0f0;
    --heading-h2-color: #cccccc;
  }
}
